.login-background{
    height: 100dvh;
    width: 65dvw;
    background-image: url('../../assets/Kitchen.webp');
    background-size: cover;
}
.login-container{    
    display: flex;
    text-align: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35dvw;
    padding: 3rem; 
    
}





