.recepie-container{
    display: flex;
    flex-direction: column;
    justify-content:end;
    height: 15rem;
    width: 25rem;
    aspect-ratio: 16/9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.5rem;
    background-color: var(--primary);
    overflow: hidden;
    margin: auto;
}
.content h2{
    margin: 0;
    padding: 0;
    line-height: 3rem;
    text-align: left;
}
.content{
    opacity: 0; 
    color: var(--text);
    background: var(--blur);
    border-radius: 0rem 0rem 1.5rem 1.5rem; 
    box-shadow: 1rem -1rem 1rem var(--blur); 
    transform: translateY(100%); 
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: .5rem;
}

.recepie-container:hover .content {
    transform: translateY(0);
    opacity: 1;   
    
}

