* {
  --text: #f0f2e8;
  --dark_text: #181818;
  --background: #252525;
  --primary: #e7eef3;
  --secondary: #ffd588;
  --accent: #ffa024;
  --urls:#1c8ce8;
  --urls_hover:#51a0eb;
  --warning: #f04343;
  --success: #82f394;
}
