* {
  --text: #f0f2e8;
  --placeholder: #757575;
  --dark_text: #181818;

  --primary: #e7eef3;
  --secondary: #ffd588;
  --accent: #ffa024;
  --background: #252525;
  
  --blur:#2c2c2cac;
  --white: #f1f1f1;
  --light_black: #3e3e3e;

  --urls:#1c8ce8;
  --urls_hover:#51a0eb;

  --warning: #f35050;
  --success: #59dd6f;

}
