.logo{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    cursor: pointer;
    background-image: url('../../../assets/Logo.webp');
    background-size: cover;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: var(--secondary);
    margin-bottom: 1rem;
}