@import '../../../constants/colors.css';

.custom-button {
    height: 6dvh;            
    width: 100%;            
    background-color:var(--urls); 
    color: var(--text);             
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
    font-weight: bold;         
    transition: background-color 0.3s ease;
    margin: 2rem auto 0;
  }
  
  .custom-button:hover {
    background-color: var(--urls_hover); 
  }