.signup-background{
    height: 100dvh;
    width: 65dvw;
    background-image: url('../../assets/Dishes.webp');
    background-size: cover;
}
.signup-container{    
    display: flex;
    text-align: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35dvw;
    padding: 3rem; 
    
}